# Data Structure  => way of stoding data so that it can be accessed and manipulated

In [2]:
#List  >> ordered of element that can be of any data type like integer, string, float etc.
#List are mutable, it mean be can change after creation

In [3]:
num = [1, 2, 3, 4, 5]
type(num)

list

In [7]:
num[0]

1

In [5]:
num[1]

2

In [6]:
num[4]

5

In [9]:
# num[5]  - it will return error because index 5 is not present

In [10]:
l1 = [1, 2, 3+7j, 3.4, "Abhi", True]
print(l1)

[1, 2, (3+7j), 3.4, 'Abhi', True]

In [17]:
l1.append("PWskills")

[1, 2, (3+7j), 3.4, 'Abhi', True, 'PWskills', 'PWskills', 'PWskills', 'PWskills', 'PWskills', 'PWskills']

In [19]:
print(l1)

[1, 2, (3+7j), 3.4, 'Abhi', True, 'PWskills', 'PWskills', 'PWskills', 'PWskills', 'PWskills', 'PWskills']

In [20]:
print(l1[2])

(3+7j)

In [21]:
li = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(li)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [26]:
print(li[2])
print(li[2][1])

[7, 8, 9]
8

In [27]:
shopping_list = ["Apple", "Banana", 3, 34.4, True]
type(shopping_list)

list

In [30]:
for item in shopping_list:
    print(item, end=" ")

Apple Banana 3 34.4 True

In [31]:
#Tuple >> immutable

In [34]:
point = (2, 3)
point

(2, 3)

In [35]:
type(point)

tuple

In [36]:
point = ("Abhi", 22, 2024, 2002)
point

('Abhi', 22, 2024, 2002)

In [37]:
name = ("Abhi", "Bhumi", "Adi")
name[0]

'Abhi'

In [39]:
# name[0]= "Anu"  - we cannot change in tuple after creation

In [40]:
box1 = ("a", "b")
box2 = ("c", "d")

choclate_bag = (box1, box2)
choclate_bag

(('a', 'b'), ('c', 'd'))

In [41]:
for bag in choclate_bag:
    for choc in bag:
        print(choc)

a
b
c
d

In [42]:
# sets >> sets are unordered colletion of unique elements, do not contain similar value

In [43]:
s = {"red", "blue", }
type(s)

set

In [44]:
s = {"red", "blue", "blue"}
s

{'blue', 'red'}

In [46]:
s.add("yellow")
s

{'blue', 'red', 'yellow'}

In [47]:
s.add("yellow")
s

{'blue', 'red', 'yellow'}

In [48]:
grocery_list = {"apple", "banana", "milk", "sugar", "banana", "sugar", "tea", "tea"}
print(grocery_list)

{'milk', 'sugar', 'banana', 'apple', 'tea'}

In [50]:
#dictionaries >> key value pair
my_dict = {"Name":"Abhijeet", "Age": 22, "Position":"Data analyst", "Location": "Indore"}
print(my_dict)
type(my_dict)

{'Name': 'Abhijeet', 'Age': 22, 'Position': 'Data analyst', 'Location': 'Indore'}

dict

In [51]:
my_dict["Name"]

'Abhijeet'

In [52]:
phone_book = {"Dad": 8120331142, "Mom": 9303940996}
phone_book

{'Dad': 8120331142, 'Mom': 9303940996}

In [53]:
phone_book.keys()

dict_keys(['Dad', 'Mom'])

In [54]:
phone_book.values()

dict_values([8120331142, 9303940996])

In [55]:
phone_book["Dad"] = "I have changed number"
phone_book

{'Dad': 'I have changed number', 'Mom': 9303940996}

In [56]:
from array import array  #array is similar to list >> homogenous data

In [58]:
arr = array('i', [1, 2, 3, 4, 5])
print(arr)

array('i', [1, 2, 3, 4, 5])

In [59]:
print(arr[0])

1