In [1]:
#string is sequence of character 
#characterd represented using numerical values
#ASCII (7 bits) and UNICODE (16 bits)
#UTF-8, UTF 16 >>popular encoding schemes

In [2]:
#ASCII representation
char = "A"  #character stored in ASCII value in computer 
ord(char)

65

In [4]:
char = "B"
ord(char)

66

In [5]:
char ="a"
ord(char)

97

In [8]:
#convert numberical value to alphabate
chr(112)

'p'

In [10]:
chr(78)

'N'

In [11]:
# UNICODE representation
'\u03A9'

'Ω'

In [12]:
'\u03A3'

'Σ'

In [13]:
'\u03A8'

'Ψ'

In [14]:
'\u0973'

'ॳ'

In [15]:
chr(944)

'ΰ'

In [16]:
chr(3)

'\x03'

In [17]:
chr(1992)

'߈'

In [19]:
str1 = "PWskills"
print(str1)
type(str1)

PWskills

str

In [20]:
"'I'm a student"

"'I'm a student"

In [21]:
"""'I'm a student
'I'm a student"""

"'I'm a student\n'I'm a student"

In [25]:
#concatenation
str1 = "Hello"
str2 = "World"
print(str1 + ", "+ str2)

Hello, World

In [26]:
"string" + " > " + "Concatenation"

'string > Concatenation'

In [27]:
#Extract a string
str1 = "I am good student"
str1[0]

'I'

In [29]:
str1[0:4]

'I am'

In [30]:
str1[5:9]

'good'

In [31]:
str2 = "Pwskills"
str2[1:]

'wskills'

In [32]:
str2[-1]

's'

In [33]:
str2[-4]

'i'

In [34]:
str2[:-3] # except last three character

'Pwski'

In [35]:
str2[-3:] #only last three character

'lls'

In [36]:
str = "Hello world"
str[::1]

'Hello world'

In [40]:
str = "Abhijeet"
str[0:9:2]   #Return every altrante value from 0 to 9 index

'Ahje'

In [42]:
str = "Hello world"
str[::-1] #reverse the string

'dlrow olleH'

In [46]:
s = "PWskills"
#s[9] # through error if we give out of range index number
s[7]

's'

In [47]:
# strings are immutaable, it means we cannot change in string after creation

In [50]:
s = "PWskills"
#s[1] = "X"  - we cannot do this because string is immutable

In [51]:
"PW" + "skills"

'PWskills'

In [52]:
# we can change string charatcter using replace() function 
s = "I am a student"
s.replace("student", "Teacher")

'I am a Teacher'

In [54]:
address = "232, Barfani Dham, Indore"
address.replace("232", "420")

'420, Barfani Dham, Indore'

In [55]:
text = "BRB, TTYL, LOL"
text.replace("BRB", "Be right Back").replace("TTYL", "Talk to you lateral").replace("LOL", "Lots of Love")

'Be right Back, Talk to you lateral, Lots of Love'

In [58]:
text = "Hello, World"
text

'Hello, World'

In [59]:
text.lower()

'hello, world'

In [60]:
text.upper()

'HELLO, WORLD'

In [61]:
text.title()

'Hello, World'

In [62]:
text = "I am Is A student"  #swapcase swap the case of string
text.swapcase()

'i AM iS a STUDENT'

In [64]:
text = "hello world"  #capitalize the first letter of string
text.capitalize()

'Hello world'

In [65]:
#string searching
senetence = "I am a student in PWskills"
"am" in senetence

True

In [2]:
a = int('45')
print(a)
type(a)

45

int

In [3]:
sentence = "I am a student of PWskills"
search_word = "am"
if search_word in sentence:
    print("am is present")
else:
    print("am is not present")

am is present

In [6]:
email = "abhisurya1421@gmail.com"
if "@" in email:
    print("Submited")
else:
    print("Invaild email")

Submited

In [9]:
document = "myfile.pdf"
if ".pdf" in document:
    print("its a pdf file")
else:
    print("not a pdf file")

its a pdf file

In [10]:
#string comparison

str1 = "hello"
str2 = "Hello"

str1 == str2

False

In [11]:
str2.lower() == str1

True

In [14]:
register_user = ["pw", "PW", "Pw"]
new_user = "pW"

if new_user in register_user:
    print("already user name")
else:
    print("Registered successfully")

Registered successfully

In [18]:
product_code = "P2024"
scanned_code = input("Scan the product code:")

if product_code == scanned_code:
    print("Code applied succesfully")
else:
    print("Invaild code")

Scan the product code:P2024
Code applied succesfully

In [19]:
#STRING ORDERING

In [21]:
name = ["Abhi", "Chintu", "bhumi", "Bee"]
sorted(name)

['Abhi', 'Bee', 'Chintu', 'bhumi']

In [23]:
playlist = ["Hello", "Magic", "KKch", "Magic"]
sorted(playlist)

['Hello', 'KKch', 'Magic', 'Magic']

In [24]:
#common string operations

input_str = "     Pwskills   "     #remove the whitespace
input_str.strip()

'Pwskills'

In [25]:
csv_row = "Apple      "
csv_row.strip()

'Apple'

In [34]:
#string splitting
data = "Python, Excel, PowerBI, SQL"
data

'Python, Excel, PowerBI, SQL'

In [43]:
technologies = data.split(",")
print(technologies)

['Python', ' Excel', ' PowerBI', ' SQL']

In [52]:
first_tech = technologies[0]
second_tech = technologies[1]
third_tech = technologies[2]
fourth_tech = technologies[3]

In [54]:
first_tech

'Python'

In [58]:
second_tech.strip()

'Excel'

In [55]:
third_tech.strip()

'PowerBI'

In [56]:
fourth_tech.strip()

'SQL'

In [59]:
#Escape sequence - special combination of charactersnused within a strings

address = """343, Barfani dham
             Vijay nagar
             indore"""

In [63]:
print(address)

343, Barfani dham Vijay nagar indore

In [67]:
new_address = """343, Barfani dham \n Vijay nagar indore"""   #\n use for to inster new line character
print(new_address)

343, Barfani dham
 Vijay nagar indore

In [70]:
table = "Name \tAge \tGrade \nAlice \t20 \tA \nRam \t30 \tA+"   #\t escape is use for tab and 
print(table)

Name 	Age 	Grade
Alice 	20 	A
Ram 	30 	A+

In [1]:
file_path = "c:\\Users\\download\\file.html"
print(file_path)

c:\Users\download\file.html

In [3]:
#\'  single quote escape
str1 = 'I can\'t belive'
print(str1)

I can't belive

In [5]:
#Carriage return \r >> moves the cursor to the beginning of line

print("Hello, \rI am abhijeet")

I am abhijeet

In [10]:
#strin formating  >> creating string with placeholder for variables
username = "Ram"
greeting = f"hello {username}, how are you?"
print(greeting)

hello Ram, how are you?

In [12]:
#string formatting

name = "Abhijeet"
greeting = "Hello %s, wish you a wonderful day" %name
print(greeting)

Hello Abhijeet, wish you a wonderful day

In [14]:
#.format
template = "Hello, {} Welcome to {}."
greeting = template.format("Abhijeet", "Dubai")
print(greeting)

Hello, Abhijeet Welcome to Dubai.

In [20]:
#f string  (formatted string Literals)
course = "Data Analytics"
duration = "6"
f"My course is {course}, it's duration is {duration} month"

"My course is Data Analytics, it's duration is 6 month"

In [23]:
username = "Abhi"
post_date = "2024-05-12"
print(f"hello {username}, today is {post_date}")

hello Abhi, today is 2024-05-12

In [28]:
celsius = 34
f"{celsius} celsius is equal to {(celsius * 9/5) + 32} fehrenheit"

'34 celsius is equal to 93.2 fehrenheit'

In [29]:
str1 = "PWskills"
str1.startswith("P")

True

In [30]:
str1.endswith('s')

True

In [33]:
a = "abcd"
a.isalnum()

True

In [34]:
s = "PWskills"
len(s)

8

In [9]:
count = 0
for i in s:
    print(i)
    count = count+1
print("number of alphabates ", count)

1
2
3
4
5
6
number of alphabates  6

In [16]:
l = "Hello"
for ch in range(len(l)):
    print(ch, l[ch])

0 H
1 e
2 l
3 l
4 o