# Tuple - Tuple are ordered collection of elemnts, heterogenous

In [1]:
#Tuple are ordered collection of elemnts, heterogenous
# tuple are immutable

t = ("Apple", "Banana", "Mango")
t

('Apple', 'Banana', 'Mango')

In [2]:
type(t)

tuple

In [3]:
len(t)

3

In [4]:
#Access elemnt using index 
t[0]

'Apple'

In [6]:
# tuple are immutable
# t[0] = "Cherry"   - we cannot change element of tuple

In [9]:
#count - return how many times is present in given element in tuple
t = (1, 1, 2, 3, 4, 1,  5, 6)
t.count(1)

3

In [10]:
# find the index of element
t.index(3)

3

In [11]:
#find index of element
car = ("Nexon EV", "TATA NANO EV", "MG EV")
car.index("TATA NANO EV")  # it will return the index number of given element

1

In [13]:
print(car*2) #repeat tuples

('Nexon EV', 'TATA NANO EV', 'MG EV', 'Nexon EV', 'TATA NANO EV', 'MG EV')

In [14]:
#Access tuple element using index number
car[2]

'MG EV'

In [15]:
#Range indexing
car[1:3]

('TATA NANO EV', 'MG EV')

In [32]:
#Negative range indexing
car[-4:-1]

('Nexon EV', 'TATA NANO EV')

In [16]:
#reverse the tuple
car[::-1]

('MG EV', 'TATA NANO EV', 'Nexon EV')

In [17]:
#Negative indexing
car[-1]

'MG EV'

In [21]:
for c in car:
    print(c, type(c))

Nexon EV <class 'str'>
TATA NANO EV <class 'str'>
MG EV <class 'str'>

In [22]:
t1 = (1, 34, 12, 56)
max(t1) #return maximum value

56

In [24]:
min(t1) #return minimum value

1

In [25]:
t2 = (2, 4, 6)
t3 = t1+t2  #concat two tuple

In [26]:
t3

(1, 34, 12, 56, 2, 4, 6)

In [27]:
del t3

In [28]:
#length of tuple
len(t1)

4

In [29]:
#check if value is present or not
1 in t1

True

In [30]:
4 in t2

True

In [31]:
4 not in t2

False

# Sets >> Sets are collection of unique and unordered element

In [1]:
# dont allow duplicate element >> not maintain any ordered and it will not be indexded

In [4]:
s = {2, 4, 6, 8, 2, 4}
s

{2, 4, 6, 8}

In [3]:
type(s)

set

In [5]:
l = [1, 2, 3, 4, 24, 1, 2]
s = set(l)
s

{1, 2, 3, 4, 24}

In [7]:
#s[0] - index is not present in set

In [9]:
# {1, 2, 3,4 [1, 2, 3, 4]}  - we cannot add list in sets because list is mutable and set is immutable

In [10]:
s = {1, 2, 4, (1, 2, 3)}   #  we can add tuple in set because tuple and set both are immutable

{(1, 2, 3), 1, 2, 4}

In [12]:
# s[::-1]

In [14]:
s1 = {1, 2, 4, (1, 2, 3)}
for i in s1:
    print(i)

1
2
(1, 2, 3)
4

In [16]:
s1.add(24)
s1

{(1, 2, 3), 1, 2, 24, 4}

In [17]:
#update() - use to add two sets
s = {2, 3, 4, 5}
s1 = {1, 6, 7, 8}
s.update(s1)   # Use update method to add one set to another set

In [30]:
s = {"Mango", "Banana"}
s.update("s")
s

{'Banana', 'Mango', 's'}

In [18]:
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [19]:
s.pop() # remove element of set randomly

1

In [24]:
# remove use to remove perticular item 
s = {"Apple",  "Banana", "Mango", "Lichi", "Patato"}
s.remove("Patato")

In [25]:
s

{'Apple', 'Banana', 'Lichi', 'Mango'}

In [32]:
s = {1, 2, 3, 4}
s.clear()
s

set()

In [34]:
#discard - it will remove if element is present and not will through error but in remove through error

s = {1, 2, 45, 2}
s.discard(24)
s

{1, 2, 45}

In [35]:
# set operations 
#Union: Combines elemenys from two sets excluding duplicates
#intersection: only common elements between sets
#difference: returns the element that is present set not in present set
#symmetric difference: return elemets that are present in either of sets but not in both

In [37]:
s1 = {"Playing cricket", "hiking", "Mountaning", "coding"}
s2 = {"coding", "hiking", "travelling"}
s1.intersection(s2)

{'coding', 'hiking'}

In [38]:
s1 & s2 # we can also do like this

{'coding', 'hiking'}

In [40]:
#union
s1.union(s2)

{'Mountaning', 'Playing cricket', 'coding', 'hiking', 'travelling'}

In [41]:
s1 | s2

{'Mountaning', 'Playing cricket', 'coding', 'hiking', 'travelling'}

In [42]:
# difference
s1.difference(s2)

{'Mountaning', 'Playing cricket'}

In [43]:
s1 - s2

{'Mountaning', 'Playing cricket'}

In [46]:
# symmertric difference
s1.symmetric_difference(s2)

{'Mountaning', 'Playing cricket', 'travelling'}

In [49]:
#frozen sets >> immutable version of set, can not be changed added or removed
my_frozen_set = frozenset([1, 2, 3, 4, 5, 5, 4, 3])
print(my_frozen_set)

frozenset({1, 2, 3, 4, 5})

In [50]:
type(my_frozen_set)

frozenset

In [52]:
# my_frozen_set.add(56, 7)  - we cannot change frozen set

In [53]:
for i in my_frozen_set:
    print(i)

1
2
3
4
5